@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
* {
    box-sizing: border-box;
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.line {
    width: 570px;
    border: 1px solid silver;
}
.main-text {
    width: 1170px;
    height: 150px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
        font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.separator {
    width: 170px;
    height: 1px;
    margin:  auto;
    background-color: #EC7979;
    margin-bottom: 40px;
}
.second-text {
    height: 21px;
    width: 1169px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}
.line {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 571px;
    border: 1px solid rgba(189, 189, 189, 1);
}
.message-form {
    padding-left: 30px;
}
.line-message{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 571px;
    border: 1px solid rgba(189, 189, 189, 1);
    margin-top: 136px;
}
input {
    height: 38px;
    width: 370px;
    border: none;
    padding: 33px 0;
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}
.form-input {
    display: flex;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 50px;
}
button {
    width: 370px;
    height: 60px;
    background: rgba(236, 121, 121, 1);
    border: none;
    color:  rgba(255, 255, 255, 1);
    
}
